* {
  font-family: "Poppins";
}
body {
  display: flex;
  flex-direction: column;
}
.cbox {
  height: 35vh;
  width: 85vw;
  background-color: black;
  border-radius: 20px;
}
.btn {
  /* align-self: center; */
}
